* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.app {
  position: relative;
  background: rgba(255,255,255,0.15);

  -webkit-backdrop-filter: blur(5px); /* Safari support */
  backdrop-filter: blur(5px);

  padding: 30px;
  border-radius: 20px;
  width: 320px;
  text-align: center;
  z-index: 1;
}

h1 {
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin: 10px 0;
}

.buttons button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background: #00c6ff;
  color: black;
  font-weight: bold;
}

#timer {
  font-size: 2.5rem;
  margin-top: 20px;
}

footer {
  position: absolute;
  bottom: 15px;
  font-size: 14px;
  z-index: 1;
}

footer a {
  color: #00c6ff;
  text-decoration: none;
  margin: 0 5px;
}

